@media (min-width: 2300px) {
    .img2 {
        width: 45vw;
        height: 45vh;
        right: -5vw !important;
        top: -5vw;
    }
}

/* Media query para pantallas de 1920px o más */
@media (min-width: 1920px) {
    .logoclarodoc {
        left: -6vw;
        width: 53vw;
        height: 53vh;
    }

    .lododoctores {
        width: 30vw;
        height: 70vh;
    }

    /* section2 */
    .letras-section2 {
        left: 20px;
    }

    #garantia {
        margin-top: -115px !important;
    }
}

@media (max-width: 1024px) {
    .circuloverde{
        width: 20rem;
        height: 20rem;
    }
    .contenidoprincipal_section5{
        margin-top: 50px;
    }
    .comentario1, .comentario2{
        width: 50vw;
    }

    .section5{
        top: -22vw;
    }
    .section5 .svg-section5{
        height: 80vh;
    }
}

/* Estilos responsivos para la sección bocaboca */
@media (max-width: 768px) {
    #bocaboca .text-4xl {
        font-size: 1.75rem;
        /* Reducción del tamaño de fuente */
        line-height: 2.25rem;
    }

    #bocaboca .circulo1 {
        width: 4rem;
        height: 4rem;
        bottom: -10px;
        left: 5px;
    }

    #bocaboca .circulo2 {
        width: 4rem;
        height: 4rem;
        top: -35px;
        right: 15px;
    }

    #bocaboca img[src*="grid_object"] {
        width: 1.5rem;
        height: 1.5rem;
    }
    .screen-button-modal{
        display: none !important;
    }
    .section5{
        top: -1vw;
    }
    .comentario1, .comentario2{
        width: 80vw;
    }
    .letras-funcionamiento{
        font-size: 2.5rem;
        top: 10px;
    }
}

@media (max-width: 634px) {
    .section1 {
        height: 60%;
    }


    .lista_benificio li div {
        width: 20px;
        height: 20px;
    }


    .lista_benificio li span {
        font-size: 13px
    }

    .circuloverde{
        width: 10rem;
        height: 10rem;
    }

    /* Puedes agregar aquí más reglas específicas para 1920px */
}

@media (max-width: 375px) {
    .letras-ws {
        font-size: 0.7rem;
    }
    .logoclaro2{
        top: 0;
    }
    .comentario1 .burbuja1 {
        height: 100px;
    }
}

/* Para móviles estándar (de 321px a 480px) */
@media (min-width: 340px) {

    /* Aquí puedes ajustar fuentes, márgenes, paddings, diseño general para móviles más comunes */
    .logo {
        width: 100px;
    }

}