@media (min-width: 1920px) {
    #bocaboca {
        padding: 4rem 0;
    }

    #bocaboca .text-4xl {
        font-size: 3.5rem;
        line-height: 4rem;
    }

    #bocaboca button {
        font-size: 1.5rem;
        padding: 1rem 2.5rem;
    }

    #bocaboca .circulo1 {
        width: 10rem;
        height: 10rem;
        bottom: -30px;
        left: 15%;
    }

    #bocaboca .circulo2 {
        width: 8rem;
        height: 8rem;
        top: -50px;
        right: 15%;
    }

    #bocaboca img[src*="grid_object"] {
        width: 3rem;
        height: 3rem;
    }

    .texto-seccion2 {
        font-size: 5rem;
    }

    .texto-seccion2 .texto:nth-child(1), .texto-seccion2 .texto:nth-child(3) {
        font-size: 7rem;
    }

    .texto-seccion2 .texto:nth-child(2), .texto-seccion2 .texto:nth-child(4) {
        font-size: 5rem;
    }
}