@charset "utf-8";

#navbar .navegacion .contenedor__menu .nav-links .st0 {
	background: #FFFFFF !important;
	background: rgba(255, 255, 255, 1) !important;
	border-radius: 12px !important;
	-moz-border-radius: 12px !important;
	-webkit-border-radius: 12px !important;
}