/* FUENTES: inter */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* FUENTE: poppins*/
/* FUENTES: poppins*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


html {
    scroll-behavior: smooth;
}

main {
    background: linear-gradient(180deg, #ffffff, #eef7ff);
    /* Fondo blanco a azul claro */
}

.titulo {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.subtitulo {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500 !important;
    font-style: normal;
}

.intel {
    font-family: "Inter", sans-serif;
}

.subtitulo__1 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}

.subtitulo__2 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.logo-white-svg {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(200%) contrast(100%);
}

.linea {
    border-color: white;
    border-width: 1px;
    width: 50%;
}

.derechos {
    margin-bottom: 10px;
}
.content-img {
  
   
    /* No es necesario definir altura y anchura fijas aquí si quieres que el contenedor se ajuste al contenido */
    /* Si necesitas un tamaño fijo, mantenlo, pero considera cómo afectará al ajuste de la imagen */
  
}

.content-img img {
    object-fit:fill; /* Cambiamos a "contain" para que la imagen completa sea visible */
    width: 100%;      /* Aseguramos que la imagen intente ocupar todo el ancho del contenedor */
    height: 100%;     /* Aseguramos que la imagen intente ocupar toda la altura del contenedor */
}

.conte_flecha{
   
}

.conte_flecha div img{
    
}

.nt5{
    font-size: 7vw;
}

.nt1,
    .nt3 {
        font-size: 5.9375em;
        /* Equivalente a 95px si el base es 16px */
    }

    .nt2,
    .nt4 {
        font-size: 4.375em;
        /* Equivalente a 70px si el base es 16px */
    }


#navbar {
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

#navbar a {
    transition: color 0.3s ease;
}

/* seccion 1 */
#hero {
    background: linear-gradient(180deg, #e0f7fa, #ffffff);
    /* Fondo azul claro a blanco */
}

/* seccion 2 */


/* seccion 3 */


/* seccion 4 */


/* seccion 5 */


/* seccion 6 */



/* Estilos base para móviles pequeños (hasta 320px) - Opcional, ya que estos serían tus estilos por defecto */
/* ... tus estilos base ... */

/* Para móviles estándar (de 321px a 480px) */
@media (min-width: 340px) {

    /* Aquí puedes ajustar fuentes, márgenes, paddings, diseño general para móviles más comunes */
    .logo {
        width: 100px;
    }

}

/* Estilos responsivos para la sección bocaboca */
@media (max-width: 768px) {
    #bocaboca .text-4xl {
        font-size: 1.75rem; /* Reducción del tamaño de fuente */
        line-height: 2.25rem;
    }

    #bocaboca button {
        font-size: 1rem; /* Reducción del tamaño de fuente de los botones */
        padding: 0.75rem 1.5rem; /* Ajuste del padding */
    }

    #bocaboca .circulo1 {
        width: 4rem;
        height: 4rem;
        bottom: -10px;
        left: 5px;
    }

    #bocaboca .circulo2 {
        width: 4rem;
        height: 4rem;
        top: -35px;
        right: 15px;
    }

    #bocaboca img[src*="grid_object"] {
        width: 1.5rem;
        height: 1.5rem;
    }

}

@media (max-width: 480px) {
    #bocaboca .text-4xl {
        font-size: 1.5rem;
        line-height: 2rem;
        padding: 0 1rem;
    }

    #bocaboca button {
        font-size: 0.875rem;
        padding: 0.5rem 1rem;
        width: 90%;
        max-width: 300px;
    }

    #bocaboca .circulo1 {
        width: 3rem;
        height: 3rem;
    }

    #bocaboca .circulo2 {
        width: 3rem;
        height: 3rem;
    }

    #bocaboca img[src*="grid_object"] {
        width: 1rem;
        height: 1rem;
    }
}