/* FUENTES: inter */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');/* FUENTE: poppins*/
/* FUENTES: poppins*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.titulo {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.subtitulo {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500 !important;
    font-style: normal;
}

.subtitulo__1 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}

.subtitulo__2 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

main {
    background: linear-gradient(180deg, #ffffff, #eef7ff);
    /* Fondo blanco a azul claro */
}

#navbar {
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

#navbar a {
    transition: color 0.3s ease;
}

#hero {
    background: linear-gradient(180deg, #e0f7fa, #ffffff);
    /* Fondo azul claro a blanco */
}


/* Estilos base para móviles pequeños (hasta 320px) - Opcional, ya que estos serían tus estilos por defecto */
/* ... tus estilos base ... */

/* Para móviles estándar (de 321px a 480px) */
@media (min-width: 340px) {
    /* Aquí puedes ajustar fuentes, márgenes, paddings, diseño general para móviles más comunes */
    .logo{
        width: 100px;
    }
}